@import "./fonts.css";

@import "../../components/intro/intro.css";

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'DrukWide', sans-serif;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
}
